In [12]:
import os
currentWorkingDirectory = r'E:\Study\BHT\AdvancedSE\Assignment1\BerlinChargeHub'
from src.infrastructure.core import methods as m1
from src.infrastructure.core import HelperTools as ht
import pandas as pd
from config import pdict

df_geodat_plz = pd.read_csv(f'{currentWorkingDirectory}/datasets/geodata_berlin_plz.csv', delimiter=';')
df_lstat = pd.read_csv(f'{currentWorkingDirectory}/datasets/Ladesaeulenregister.csv', delimiter=';')
df_lstat2 = m1.preprop_lstat(df_lstat, df_geodat_plz, pdict)
gdf_lstat3 = m1.count_plz_occurrences(df_lstat2)

df_residents = pd.read_csv(f'{currentWorkingDirectory}/datasets/plz_einwohner.csv')
gdf_residents2 = m1.preprop_resid(df_residents, df_geodat_plz, pdict)

C:\Users\jaiku\AppData\Local\Temp\ipykernel_359032\2536032329.py:9: DtypeWarning: Columns (21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_lstat = pd.read_csv(f'{currentWorkingDirectory}/datasets/Ladesaeulenregister.csv', delimiter=';')
2025-02-01 16:40:24,893 - INFO - Starting preprop_lstat function.
2025-02-01 16:40:24,926 - INFO - Renamed columns in DataFrame.
2025-02-01 16:40:24,948 - INFO - Formatted latitude and longitude columns.
2025-02-01 16:40:24,954 - INFO - Filtered data for Berlin. Shape: (2746, 5)
2025-02-01 16:40:24,955 - INFO - Starting sort_by_plz_add_geometry function.
2025-02-01 16:40:24,964 - INFO - Merged DataFrame with geometry. Shape: (2746, 6)
2025-02-01 16:40:24,966 - INFO - DataFrame after dropping missing geometries. Shape: (2737, 6)
E:\Study\BHT\AdvancedSE\Assignment1\BerlinChargeHub\src\infrastructure\core\methods.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df3['geometry']  = gpd.GeoSeries.from_wkt(sorted_df3['geometry'])
2025-02-01 16:40:25,038 - INFO - sort_by_plz_add_geometry function completed successfully.
2025-02-01 16:40:25,038 - INFO - preprop_lstat function completed successfully.
2025-02-01 16:40:25,044 - INFO -  ====> Duration 0.15 secs: Preprocessing dataframe from Ladesaeulenregister.csv
2025-02-01 16:40:25,044 - INFO - Starting count_plz_occurrences function.
2025-02-01 16:40:25,058 - INFO - count_plz_occurrences function completed successfully. Output DataFrame shape: (183, 3)
2025-02-01 16:40:25,061 - INFO -  ====> Duration 0.02 secs: Counts loading stations per PLZ
2025-02-01 16:40:25,068 - INFO - Starting preprop_resid function.
2025-02-01 16:40:25,070 - INFO - Renamed columns in DataFrame.
2025-02-01 16:40:25,076 - INFO - Formatted latitude and longitude columns.
2025-02-01 16:40:25,077 - INFO - Filtered DataFrame by postal codes. Remaining rows: 191
2025-02-01 16:40:25,078 - INFO - Starting sort_by_plz_add_geometry function.
2025-02-01 16:40:25,080 - INFO - Merged DataFrame with geometry. Shape: (191, 5)
2025-02-01 16:40:25,082 - INFO - DataFrame after dropping missing geometries. Shape: (190, 5)
E:\Study\BHT\AdvancedSE\Assignment1\BerlinChargeHub\src\infrastructure\core\methods.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df3['geometry']  = gpd.GeoSeries.from_wkt(sorted_df3['geometry'])
2025-02-01 16:40:25,087 - INFO - sort_by_plz_add_geometry function completed successfully.
2025-02-01 16:40:25,087 - INFO - preprop_resid function completed successfully.
2025-02-01 16:40:25,088 - INFO -  ====> Duration 0.02 secs:
Processes and prepares a dataframe by cleaning and filtering postal codes, renaming columns, and transforming
geographical data. The function works by copying the given data, transforming numeric columns into strings, and replacing
comma-separators for proper formatting. It also filters the dataset based on postal codes and combines additional
geometry information via another function.

Return: The processed dataframe with cleaned, formatted, and enriched data combining postal codes and geometrical information.
:rtype: pandas.DataFrame

In [17]:
df_lstat.tail()

,Betreiber,Straße,Hausnummer,Adresszusatz,Postleitzahl,Ort,Bundesland,Kreis/kreisfreie Stadt,Breitengrad,Längengrad,...,Public Key1,Steckertypen2,P2 [kW],Public Key2,Steckertypen3,P3 [kW],Public Key3,Steckertypen4,P4 [kW],Public Key4
69381,Stadtwerke Weimar Stadtversorgungs-GmbH,Wunderwaldstraße,2a,NaN,99518.0,Bad Sulza,Thüringen,Landkreis Weimarer Land,"51,092527","11,628574",...,NaN,AC Steckdose Typ 2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69382,eva,Lachenweg,13,NaN,99518.0,Bad Sulza,Thüringen,Landkreis Weimarer Land,"51,096202","11,628901",...,NaN,AC Steckdose Typ 2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69383,TEAG Mobil GmbH,Sulzaer Straße,0,NaN,99518.0,Großheringen,Thüringen,Landkreis Weimarer Land,"51,107188","11,659489",...,3059301306072A8648CE3D020106082A8648CE3D030107...,AC Steckdose Typ 2,22,3059301306072A8648CE3D020106082A8648CE3D030107...,NaN,NaN,NaN,NaN,NaN,NaN
69384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_lstat.shape, df_lstat2.shape

((69386, 26), (2737, 6))

In [16]:
df_lstat.isnull().sum()

Betreiber                                5
Straße                                   2
Hausnummer                               2
Adresszusatz                         57606
Postleitzahl                             2
Ort                                      2
Bundesland                               2
Kreis/kreisfreie Stadt                   2
Breitengrad                              2
Längengrad                               2
Inbetriebnahmedatum                      2
Nennleistung Ladeeinrichtung [kW]        2
Art der Ladeeinrichung                   5
Anzahl Ladepunkte                        2
Steckertypen1                            7
P1 [kW]                                  2
Public Key1                          59136
Steckertypen2                        15889
P2 [kW]                              15887
Public Key2                          61679
Steckertypen3                        64645
P3 [kW]                              64645
Public Key3                          68529
Steckertypen4                        66685
P4 [kW]                              66685
Public Key4                          68759
dtype: int64

In [19]:
df_lstat.Straße.nunique()

24819

In [22]:
df_merged = m1.merge_geo_dataframes(gdf_lstat3,  gdf_residents2)

2025-02-01 17:30:25,713 - INFO - Starting merge_geo_dataframes function.
2025-02-01 17:30:25,736 - INFO - Merged population and charging stations DataFrames. Shape: (190, 6)
2025-02-01 17:30:25,743 - INFO - Filling NaN values in 'Number' column with 0.
2025-02-01 17:30:25,743 - INFO - merge_geo_dataframes function completed successfully.
2025-02-01 17:30:25,743 - INFO -  ====> Duration 0.03 secs:
Merges the charging stations and population dataframes and fills NA's with 0
Inputs:
    - df_charging_stations: A geodataframe sorted by PLZ and containing information about the charging stations
    - df_population: A geodataframe sorted by PLZ and containing information about the population
Outputs: A merged geodataframe

In [24]:
df_merged[df_merged['Number']==0]

,PLZ,Einwohner,Breitengrad,Längengrad,geometry,Number
0,10115,20313,52.53195,13.3838,"POLYGON ((13.37239 52.53821, 13.3741 52.53717,...",0.0
91,12309,15900,52.39346,13.4156,"POLYGON ((13.41914 52.41153, 13.41985 52.41115...",0.0
134,13129,6471,52.5926,13.45968,"POLYGON ((13.485 52.5878, 13.48287 52.58734, 1...",0.0
136,13158,17234,52.58964,13.36896,"POLYGON ((13.37506 52.6064, 13.37533 52.60639,...",0.0
157,13503,17113,52.61219,13.24933,"POLYGON ((13.28824 52.62659, 13.28873 52.62513...",0.0
158,13505,6368,52.58169,13.24442,"POLYGON ((13.27713 52.59609, 13.2763 52.59494,...",0.0
175,14053,139,52.51594,13.23784,"POLYGON ((13.23656 52.52608, 13.23634 52.52509...",0.0